<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="picker.picker_backend.post.schedular.mapper.BatchMapper">
    <update id="updateViewCountBatch" parameterType="picker.picker_backend.post.model.entity.PostEntity">
        UPDATE picker_db.post
        SET view_count = view_count + #{viewCount}
        WHERE post_id = #{postId}
    </update>

    <select id="getPopPost" parameterType="picker.picker_backend.post.model.entity.PostEntity">
        ( SELECT post_id, updated_at , view_count
          FROM post
          WHERE is_deleted = 0
          ORDER BY view_count DESC
          LIMIT 1000 )
        UNION
        ( SELECT  post_id, updated_at, view_count
          FROM post
          WHERE updated_at >= NOW() - INTERVAL 7 DAY
          AND is_deleted = 0 );
    </select>
</mapper>
