<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="picker.picker_backend.post.reply.mapper.ReplyMapper">
    <select id="getReply" parameterType="long" resultType="picker.picker_backend.post.reply.model.entity.ReplyEntity">
        SELECT * from picker_db.reply
        WHERE is_deleted = 0
        AND post_id = #{postId};
    </select>
</mapper>
